/* 
    Author     : Gál Tamás, Guti Patrik
*/

/* Responsive átalakítás 1200px a        */       
@media only screen and (min-width : 1300px)  {  
    #Tartalom section {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
} 
        
        
@media only screen and (min-width : 710px) and (max-width : 1200px)  {  
    #Keret #BelsoKeret {padding-right:0;}
    #BelsoKeret #KiegeszitoInfo {margin-right:0px; width:100%; } 
    #Tartalom {margin-right:10px;}
    #KiegeszitoInfo {width:90%;}
    .divKiegTKulso {width:300px;float:left; margin:5px;}
}

@media only screen and (max-width : 10px)  {  
    .x #FoHeder, #FoNavJobb {display: none;}
    .x #FoNavBal {height:40px; width:100%; display:block;} 
    .x #FoNav {display:block; position:absolute; left:0px; top:0px;}
    .x body #Keret {margin:0; padding:0; overflow-x: hidden;} 
    .x #Keret #BelsoKeret {padding:0; margin:0; overflow-x: hidden;}
    
    
   .x #Keret #HelyiNav {width:300px; margin:0; position:absolute; left:0px; top:40px; z-index: 1000;}
   .x #chmenu:checked ~ #BelsoKeret #HelyiNav {position:relative; display: none;}    
    
   .x #Keret #Tartalom {margin-right:0px; width:100%; margin:0 2px; opacity: 0.2; left:0px; top:30px; z-index: 10;}
   .x #chmenu:checked ~ #BelsoKeret #Tartalom {padding:2px; opacity: 1;}
    

   .x #KiegeszitoInfo {width:300px;float:none; margin:5px 0; clear:both;}
   .x #chmenu:checked ~ #BelsoKeret #KiegeszitoInfo {position:relative; display: none;} 
   .x #chmenu:checked ~ #BelsoKeret   .divKiegTKulso {display: none;}
}     

@media only screen and (max-width : 709px)  {
    #FoHeder {display: none;}
    #FoNav {display:block; position:absolute; left:0px; top:0px;}
    #FoNavJobb {display: none;}
    #FoNavBal {height:40px; width:100%; display:block;}
    
    #KiegeszitoInfo {display: none;}
    
    #BelsoKeret {margin:40px 0 0 0; }
    #chmenu:checked ~ #BelsoKeret {margin:40px 0 0 0; padding:0;}
    
    #Keret #Tartalom {margin-right:0px; width:340px; margin:0 2px; opacity: 0.2; left:0px; top:30px; z-index: 10;}
    #chmenu:checked ~ #BelsoKeret #Tartalom {padding:2px; width:100%; opacity: 1;}
    
    #Tartalom {
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
   }  

}    

@media only screen and (min-height: 400px) {
  #BelsoKeret {min-height:400px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 500px) {
  #BelsoKeret {min-height:500px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 600px) {
  #BelsoKeret {min-height:600px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 800px) {
  #BelsoKeret {min-height:800px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 900px)  {
  #BelsoKeret {min-height:900px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 1000px)  {
  #BelsoKeret {min-height:960px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}

@media only screen and (min-height: 1100px)  {
  #BelsoKeret {min-height:1060px; border-bottom:1px solid rgba(0, 0, 0, 0.01);}
}