/* 
    Author     : Szilágyi István
*/


/* PLUSZ - GT*/
a#logoLink        {color:#fff;}
a#logoLink:hover  {color:#fff;}
a#logoLink:active {color:#222;}
a#logoLink:link   {color:#fff;}

.Morzsa a::after{content: " « ";}  
.Morzsa a        {color:#fff;}   
.Morzsa a:link   {color:#fff;}
.Morzsa a:active {color:#fff;}
.Morzsa a:hover  {color:#fff;}    

/* Fő szerkezet nagy felbontásnál*/  
	       
#FoHeder{background-color:#2E3B4B;}


/*------------Tartalom-----------*/
body, html{background-color:#000; font-family:  Verdana, Geneva, sans-serif;}		 
#Keret{background-color:#2E3B4B;}

#BelsoKeret{
		/*Színek*/
		background-color:#2E3B4B; 
}       
#Tartalom{
		/*Színek*/
		background-color:#283442; 
		
		
		color:#fff;
		 }
		

#KiegeszitoInfo{
		/*Színek*/
		background-color:#283442;

		color:#fff;

		border-bottom:1px solid #888;}             
       
footer {background-color:#DCCBBB; }
       
/*------------Menüsor-----------*/

#FoNav {background-color:#283442;  border-bottom:1px solid #888; border-top:1px solid #888;}

       
#FoNavBal {color:#fff; }
#FoNavJobb {color:#fff;} 

.MPontLink{display:inline-block; color:#fff;}
       
/*------------Menü-----------*/
#HelyiNav{
		
		border-right:2px solid #DCCBBB;
		color:#fff;
		}
		


#HelyiNav ul {
    list-style-type: none;
    padding-left:0px;
    color:#fff; }
    
#HelyiNav .AktLink {font-weight:bold;}
#HelyiNav  li a::before{content: " » ";}

#HelyiNav li a { display: inline-block; background-color: 	#2E3B4B; padding:8px 5px 0px 5px; 
	width:100%; height: 40px; border-radius: 5px  5px 5px 5px; border:1px solid #888;  margin-top:2px;} 
#HelyiNav  li a:link,  #HelyiNav  li a:visited {color:#fff;
    
    text-decoration:none; }

/* A link állapotainak megkülönböztetése  */
#HelyiNav  li a:hover  {color:#888; text-decoration:none; margin-left:10px;} 
#HelyiNav  li a:active {color:#fff; border-bottom:2px; border-top:2px; padding-top:7px; }
  
  
/*---- Második szint --*/
#HelyiNav li li a {background-color:#2E3B4B; padding-left:25px;} 
#HelyiNav li li a:link,  #HelyiNav  li a:visited {color:#fff;}
 
/*---- Harmadik szint --*/
#HelyiNav li li li a {background-color:#456; padding-left:25px} 
#HelyiNav li li li a:link,  #HelyiNav  li a:visited {color:#fff;}


/*---- Negyedik szint --*/
#HelyiNav li li li li a {background-color:#bcd; padding-left:25px; color:#234;} 
#HelyiNav li li li li a:link,  #HelyiNav  li li li li  a:visited {color:#234;}
  
  
       
/* Menü ki-be*/
#chmenu:checked ~ #BelsoKeret #HelyiNav {display: none;}
#chmenu:checked ~ #BelsoKeret {padding-left:0;}
       
#Tartalom section img {margin:10px;}
#Tartalom article  {margin:6px;}
       

#OTartalom{width:95%;}
#OLeiras{width:95%;}

/*----------------------------------------------------- el innét*/
#divFormkod{margin-left:1px;}


/*------------Admin panel-új oldal-----------*/
#divUjOldalForm{background-color:#f2f2f2; padding:7px;}

#labelUjOldalForm{display:inline-block; border:1px solid black; margin-bottom: -1px; padding:3px;
 color:#000; background-color:#f2f2f2; border-radius: 3px  7px 0px 0px;}
 
 #UjONev{background-color:#DCCBBB;}
 #UjOTipValszt{background-color:#DCCBBB;}

/*------------Admin panel-oldal módosítás------------*/
#divOldalForm{background-color:#f2f2f2; padding:7px;}

#labelOldalForm{display:inline-block; border:1px solid black; margin-bottom: -1px;padding:3px;
 color:#000; background-color:#f2f2f2; border-radius: 3px  7px 0px 0px;}

#OLeiras			{background-color:#DCCBBB;}
#OTartalom			{background-color:#92bbeb;}
#OKulcsszavak		{background-color:#DCCBBB;}
#OLathatosag		{background-color:#DCCBBB;}
#OPrioritas			{background-color:#DCCBBB;}
#OTipValszt			{background-color:#DCCBBB;}
#ONev				{background-color:#DCCBBB;}
#submitKisKepTolt	{background-color:#DCCBBB;}
/*#fileKepTolt		{background-color:#DCCBBB;}*/

/*------------Admin panel-oldal törlése------------*/
#divOldalTorolForm{background-color:#f2f2f2; padding:7px;}

#labelOldalTorolForm{display:inline-block; border:1px solid black; margin-bottom: -1px;padding:3px;
 color:#000; background-color:#f2f2f2; border-radius: 3px  7px 0px 0px;}
 
/*------------Admin panel-oldal képeinek módosítás------------*/
#divOldalKepForm{background-color:#f2f2f2; padding:7px;}

#labelOldalKepForm{display:inline-block; border:1px solid black; margin-bottom: -1px;padding:3px;
 color:#000; background-color:#f2f2f2; border-radius: 3px  7px 0px 0px;}

#submit_KepekFeltoltForm{background-color:#92bbeb;}

.divOElozetesTartalom a {color: #DCCBBB;}
