

/* Responsive átalakítás 1200px a        */       
@media only screen and (min-width : 1300px)  {  
    #Tartalom section {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
} 
        
        
@media only screen and (max-width : 1200px)  {  
    #Keret #BelsoKeret {padding-right:0;}
    #BelsoKeret #KiegeszitoInfo {margin-right:0px; width:100%; clear:both;float:none;} 
}

@media only screen and (max-width : 710px)  {  
    #FoHeder, #FoNavJobb {display: none;}
    #FoNavBal {height:40px; width:100%; display:block;} 
    #FoNav {display:block; position:fixed; left:0px; top:0px;}
    #Keret #HelyiNav { position:fixed; left:0px; top:40px; z-index: 1000; width:300px; margin:0;}
    #Keret #BelsoKeret {padding:0; margin:0;}
    body #Keret {margin:0; padding:0;} 
}     
