/* 
    Author     : Parma Robin
*/

	   a {text-decoration:none;}
	  
	   	 
	   body, html {margin:0; padding:0; 
	   background-color:#888;  
				background-color: #660000;    border-radius:0%;    
				background: -webkit-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033); 
				background: -moz-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);
				background: -ms-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);  
				background: -o-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);  
				}		 
       #Keret {
				
				

			}
       
       #FoHeder {background-color:#888; width:100%;
				background-color: #660000;    border-radius:0%;    
				background: -webkit-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033); 
				background: -moz-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);
				background: -ms-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);  
				background: -o-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);  
				}
       #FoNav {background-color:#ff0; width:100%; line-height:30px;
	   
	   }
       
       
       
       #BelsoKeret {background: -webkit-linear-gradient(left, #000066, #000044, #000066, #000088, #0000cc, #000066, #000033);}       
       
       #HelyiNav {background-color:#660000; color:white; background:transparent;    }
	   
	   
       #KiegeszitoInfo {background-color:#08f; color:white;}       
       #logoImgLink{color:white;}
	   
	   
       footer {background-color:#333; }
       
       /* Menüsor*/


       #FoNavJobb {width:100%;margin:0 100px; color:black; text-align:center;
		
		}
       
       /* Helyi menü*/
       .FoNav ul{float:left;
					width:100%;
					margin:0;
					padding:0;
					font-size:11px;
					font-family:sans-serif;
					color:#fff;
					background:#ccc;
					}
		.FoNav ul li{
							display:inline;
						}
		.FoNav ul li a{
							float:left;
							padding:5px 10px;
							background:#ccc;
							color:#fff;
							text-decoration:none;
							border-right:1px solid #fff;
							}
		.FoNav ul li a:hover{
							color:#fff;
							background:#69C;
								}
					
       
       
				       
       .Ul1 ul{
				list-style-type: none;
				margin: 0;
				padding: 0px;
		}
		.Ul1 a{display: block;
				color: #ffffff;
				background-color: #660099;
				border: 0;
				border-left: 3pt solid #660066;
				border-right: 3pt solid #6600CC;
				
				padding: 3pt 3pt;
				text-decoration: none;
	}
	.Ul1 a:hover{display: block;
					color: #ffffff;
					background-color: #6600FF;
					border: 0;
					border-left: 3pt solid #006600;
					border-right: 3pt solid #00cc00;
					
					padding: 3pt 3pt;
					text-decoration: none;
	}
	
       .Ul2 {list-style-type:none;
       
 
					}
       .Ul3 {list-style-type:none;    text-decoration: none;
 

		}
		.Ul4{
			list-style-type:none;
			
		}
       .AktLink {
		}
		
		
			
		
		
		.M4{
			border: 1px solid black;
			border-radius: 15%;
			padding:3px 20px;
			background-image: -webkit-gradient(linear,right top,right bottom,color-stop(0.28, rgb(255, 255, 255)),color-stop(1, rgb(181, 178, 177)));
			background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: linear-gradient(to bottom, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
		}
		.M4:active{
			background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.28, rgb(255, 255, 255)),color-stop(1, rgb(181, 178, 177)));
			background-image: -o-linear-gradient(top, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -moz-linear-gradient(top, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);
			background-image: linear-gradient(to top, rgb(255, 255, 255) 28%, rgb(181, 178, 177) 100%);

			
		}
			
		
		
			
		
		

	   
		a:link {color:#000000;} /* nem látogatott link */
		a:visited {color:black;} /* meglátogatott link */
		a:hover {color:#6A5ACD;} /* egérkurzor a link felett */
		a:active {color:#808080;} /* egérgom lenyomva */
	   

       #Tartalom section img {margin:10px;}
       #Tartalom article  {margin:6px;}
       
       /* Responsive átalakítás 1200px a        */       
       @media only screen and (min-width : 1300px)  {  
            #Tartalom section {
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
                -moz-column-count: 2; /* Firefox */
                column-count: 2;

                -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
                -moz-column-gap: 40px; /* Firefox */
                column-gap: 40px;
				
				
			}
       } 
        
        
       @media only screen and (max-width : 1200px)  {  
            #BelsoKeret {padding-right:0;}
            #KiegeszitoInfo {margin-right:0px; width:100%; clear:left;} 
       }

       @media only screen and (max-width : 710px)  {  
            #FoHeder, #FoNavJobb {display: none; }
            #FoNavBal {height:40px; width:100%; display:block;} 
            #FoNav {display:block; position:fixed; left:0px; top:0px;}
            #Tartalom, #HelyiNav {margin: 40px 0 0 0; padding: 0; clear:left; }
            #BelsoKeret {padding: 0;}
       }   
