/* 
    Author     : Szabó Máté
*/


body, html {background-color:#2F4F4F;}		 

       
#FoHeder {background-color:#396666; }
#FoNav {background-color:#000000; color:#00ff99;text-align:center; box-shadow: -5px -5px 15px 0px #00FF99; box-shadow: 5px 5px 15px 0px #00FF99; margin-bottom:50px;
border-bottom:2px solid #00FF99; border-top:2px solid #00FF99;}
#FoNav a{color:#00ff99;}
     
       
#Tartalom {background-color:#2F4F4F; margin-left:5px; margin-bottom:40px; 
border-style:outset 3px black;}
#HelyiNav {background-color:#2F4F4F; padding:4px;margin-bottom:14px;}
 #KiegeszitoInfo {text-align:center; background-color:#2F4F4F; width:290px; margin-right:-300px;border-top:2px solid #000000;
 border-radius:15px  15x 30px 15px; float:right;color:#000000;border-bottom:2px solid #000000;border-left:2px solid #000000;}       
       
footer {background-color:#396666;  color:#00FF99}
       
/* Menüsor */
#FoNav #MenuIkon1 {display: none;}
#FoNav #MenuIkon2 {display: block;}       
#chmenu:checked ~ #FoNav #MenuIkon1 {display: block;}
#chmenu:checked ~ #FoNav #MenuIkon2 {display: none;}
       
#FoNavBal {float:left; width:100px;}
#FoNavJobb {width:100%;margin:0 100px; text-align:center;}


/*--------------------------DIV Módosítások (kerekítés, elválasztás, hoverek)-----------------------*/

#FoNavBal:hover{background-color:#2B2626;box-shadow: -5px -5px 15px 0px #00FF99;}       
       
       
.MPontLink {display: inline-block;color:#00FF99;background-color:#000000;border-radius:15px  15x 30px 15px;margin-left:5px;}
.MPontLink:active{border-radius:40px 40x 40px 40px; border-bottom:2px solid #3F3E3E; box-shadow: -5px -5px 15px 0px #00FF99; border-top:2px solid #3F3E3E;border-right:2px solid #3F3E3E; border-left:2px solid #3F3E3E;}
.MPontLink:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;box-shadow: -5px -5px 15px 0px #00FF99;}
.MPontlink a:hover{color:red;}
footer {background-color:#000000;border-bottom:2px solid #00FF99; border-top:2px solid #00FF99;}     

#FoHeder{  background-image: -webkit-linear-gradient(top,  #396666 95%, #00FF99);
  background-image: -moz-linear-gradient(top, #396666 95%, #00FF99);
  background-image: -ms-linear-gradient(top, #396666 95%, #00FF99);
  background-image: -o-linear-gradient(top, #396666 95%, #00FF99);
  background-image: linear-gradient(to bottom, #396666 95%, #00FF99);}      

#divFelhasznaloUdv{color:#00FF99;}


/*----------------------------------- Helyi menü ---------------------------------*/

#HelyiNav {margin-bottom:40px; }

#HelyiNav ul {list-style-type: none;padding-left:0px;}
#HelyiNav ul:hover{background-color:#2B2626;}

#HelyiNav .AktLink {font-weight:bold;}
#HelyiNav  li a:before{content: " » ";}

#HelyiNav li a { display: inline-block; background-color:#000; padding:8px 5px 0px 5px;
	width:100%; height: 40px; border-radius: 5px  5px 5px 5px; border-bottom:1px solid #00FF99; border-top:1px solid #00FF99;border-right:1px solid #00FF99;} 
#HelyiNav  li a:link,  #HelyiNav  li a:visited {color:#00ff99; font:  14px/24px Verdana, Geneva, sans-serif;
 text-decoration:none; box-shadow: 5px 5px 5px 0px #00FF99;}



/* A link állapotainak megkülönböztetése  */

#HelyiNav  li a:hover  {color:#00ff99; text-decoration:none; box-shadow: -5px -5px 15px 0px #00FF99;} 
#HelyiNav  li a:active {color:#00ff99; border-bottom:2px; border-top:2px; padding-top:7px; }
#HelyiNav  li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}
  
  
/*---- Második szint --*/

#HelyiNav li li a {background-color:#000000; padding-left:15px;} 
#HelyiNav li li a:link,  #HelyiNav  li a:visited {color:#00ff99;}
#HelyiNav li li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}
 
/*---- Harmadik szint --*/

#HelyiNav li li li a {background-color:#000000; padding-left:25px;} 
#HelyiNav li li li a:link,  #HelyiNav  li a:visited {color:#00ff99;}
#HelyiNav li li li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}


/*---- Negyedik szint --*/

#HelyiNav li li li li a {background-color:#000000; padding-left:35px;} 
#HelyiNav li li li li a:link,  #HelyiNav  li a:visited {color:#00ff99;}
#HelyiNav li li li li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;margin-left:10px;}
  
  
       
/*--------------------------- Menü ki-be -----------------------*/

#chmenu:checked ~ #BelsoKeret #HelyiNav {display: none;}
#chmenu:checked ~ #BelsoKeret {padding-left:0;}
       
#Tartalom section img {margin:10px;}
#Tartalom article  {margin:6px;}


                        /*---------------------------- Adminpanel -----------------------*/


#divFormkod{margin-left:1px;}
   
#divUjOldalForm{background-color:#2F4F4F; padding:7px; border:none;}
#divOldalForm{background-color:#2F4F4F; padding:7px;}
#divOldalTorolForm{background-color:#2F4F4F; padding:7px;}
#divOldalKepForm{background-color:#2F4F4F; padding:7px;}

#chFormkod {display:none;}

#chUjOldalForm{display:none;}
#chOldalForm{display:none;}
#chOldalTorolForm{display:none;}
#chOldalKepForm{display:none;}

#labelUjOldalForm{display:inline-block;  margin-bottom: -1px; padding:3px;
 color:#000; border-radius: 3px  7px 0px 0px; color:#00FF99;}
#labelOldalForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000; border-radius: 3px  7px 0px 0px; color:#00FF99;}
#labelOldalTorolForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000;  border-radius: 3px  7px 0px 0px; color:#00FF99;}
#labelOldalKepForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000;  border-radius: 3px  7px 0px 0px; color:#00FF99;}
 
#OTartalom{width:95%; background-color:#2F4F4F; border-color:#000000; color:#00FF99;}
#OLeiras{width:95%; background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#UjONev{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration:italic;}
#OPrioritas{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#OLathatosag{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#OKulcsszavak {background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#ONev {background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}

/**************************** Kép módosítások ****************************/

#KSorszam_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}


