/* 
    Author     : Gál Tamás, Guti Patrik, Tóth-Kovács Gellért
*/

/* Oldalak  szerkesztése*/
#divFormkod {display: none;}
#chFormkod:checked    ~ #divFormkod    {display: block;}

#divUjOldalForm, #divOldalForm, #divOldalTorolForm, #divOldalKepForm, #divOldalModeratorForm, #divOLathatosagCsoportValaszt 
{display: none; border: 1px solid #000; background-color:#eee;padding:12px; margin-top:10px;}

#divOTartalom #divFormkod, #divOTartalom #labelUjOldalForm, 
#divOTartalom #labelOldalForm, #divOTartalom #labelOldalTorolForm, 
#divOTartalom #labelOldalKepForm, #divOTartalom #labelOldalModeratorForm, 
#divOTartalom #labelchFormkod,

#divOTartalom #labelUjCikkForm, 
#divOTartalom #labelCikkForm,
#divOTartalom #labelCikkTorolForm,
#divOTartalom #labelCikkKepForm,
#divOTartalom #labelUjCikkForm,
#divOTartalom #labelchFormkodCikk,
#divOTartalom #divFormkodCikk
{background-color:#DCCBBB;}

#divFormkod, #divFormkodCikk {margin-bottom: 5px; padding:0 5px 10px 5px;}


#chFormkod, #chUjOldalForm, #chOldalForm, #chOldalTorolForm, #chOldalKepForm, #chOldalModeratorForm {display:none;}

#chUjOldalForm:checked    ~ #labelUjOldalForm     {font-weight:bold;}
#chOldalForm:checked      ~ #labelOldalForm       {font-weight:bold;}
#chOldalTorolForm:checked ~ #labelOldalTorolForm  {font-weight:bold;}
#chOldalKepForm:checked   ~ #labelOldalKepForm    {font-weight:bold;}
#chOldalModeratorForm:checked   ~ #labelOldalModeratorForm    {font-weight:bold;}

#chUjOldalForm:checked    ~ #labelUjOldalForm:before{content:url('../img/ikonok/newpage2pushed28.png');position:relative;top:7px;}     
#chOldalForm:checked      ~ #labelOldalForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;} 
#chOldalTorolForm:checked ~ #labelOldalTorolForm:before{content:url('../img/ikonok/delete2pushed28.png');position:relative;top:7px;}
#chOldalKepForm:checked   ~ #labelOldalKepForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;}
#chOldalModeratorForm:checked   ~ #labelOldalModeratorForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;}


#chUjOldalForm:checked    ~ #divUjOldalForm    {display: block;}
#chOldalForm:checked      ~ #divOldalForm      {display: block;}
#chOldalTorolForm:checked ~ #divOldalTorolForm {display: block;}
#chOldalKepForm:checked   ~ #divOldalKepForm   {display: block;}
#chOldalModeratorForm:checked   ~ #divOldalModeratorForm {display: block;}
#chOldalLathatosagForm:checked   ~ #divOLathatosagCsoportValaszt {display: block;}

#divOldalKepForm .Kepszerk img {display:block; float:left; height:100px; margin:5px;}
#divOldalKepForm .Kepszerk     {display:block; clear:left;  margin:5px;}
#divOldalKepForm .Kepszerk  p  {display:block; float:left; margin:5px;}
#divOldalKepForm .Kepszerk  p.pKSzelesseg  {clear:left;}
#divOldalKepForm .Kepszerk input[type="number"] {width:45px;}

#divOModeratorCsoportValaszt, #divOModeratorValasztForm, #KepekFeltoltForm, #KisKepFelForm, #CikkKepTolForm, #formCsoportValaszt, 
#formCsoportValaszt2, #formFelhasznaloValaszt {border-bottom:1px solid #fff; width: 100%;}

.pKTorol {color:#f00;}


#labelchFormkod {display:block; margin-bottom: 5px; padding:0 5px 10px 5px;}
#labelchFormkod:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelchFormkod:hover:before{content:url('../img/ikonok/modifypushed28.png');}
#chFormkod:checked   ~ #labelchFormkod    {font-weight:bold;}
#chFormkod:checked   ~ #labelchFormkod:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;}

#labelUjOldalForm:before{content:url('../img/ikonok/newpage28.png');position:relative;top:7px;}
#labelUjOldalForm:hover:before{content:url('../img/ikonok/newpagepushed28.png');}

#labelOldalForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelOldalForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelOldalTorolForm:before{content:url('../img/ikonok/delete28.png');position:relative;top:7px;}
#labelOldalTorolForm:hover:before{content:url('../img/ikonok/deletepushed28.png');}

#labelOldalKepForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelOldalKepForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelOldalModeratorForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelOldalModeratorForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

/* Cikkek  szerkesztése*/
#formCikkValaszt h2 {margin-bottom: 5px;}
#selectCikkValaszt {float:left;}
#labelCikkValaszt {font-weight:bold; float:left;}
#divFormkodCikk {display: none;}
#chFormkodCikk:checked    ~ #divFormkodCikk    {display: block;}
#divCikkValaszt {margin-bottom: 6px;}

#divUjCikkForm, #divCikkForm, #divCikkTorolForm, #divCikkKepForm {display: none; border: 1px solid #000; background-color:#eee;padding-left:12px; margin-top:10px;}
#chFormkodCikk, #chUjCikkForm, #chCikkForm, #chCikkTorolForm, #chCikkKepForm {display:none;}

#chUjCikkForm:checked    ~ #labelUjCikkForm     {font-weight:bold;}
#chCikkForm:checked      ~ #labelCikkForm       {font-weight:bold;}
#chCikkTorolForm:checked ~ #labelCikkTorolForm  {font-weight:bold;}
#chCikkKepForm:checked   ~ #labelCikkKepForm    {font-weight:bold;}

#chUjCikkForm:checked    ~ #labelUjCikkForm:before{content:url('../img/ikonok/newpage2pushed28.png');position:relative;top:7px;}     
#chCikkForm:checked      ~ #labelCikkForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;} 
#chCikkTorolForm:checked ~ #labelCikkTorolForm:before{content:url('../img/ikonok/delete2pushed28.png');position:relative;top:7px;}
#chCikkKepForm:checked   ~ #labelCikkKepForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;}


#chUjCikkForm:checked    ~ #divUjCikkForm    {display: block;}
#chCikkForm:checked      ~ #divCikkForm      {display: block;}

#chCikkTorolForm:checked ~ #divCikkTorolForm {display: block;}
#chCikkKepForm:checked   ~ #divCikkKepForm   {display: block;}


#divCikkValaszt  {display: none;}
#chFormkodCikk:checked ~ #divCikkValaszt   {display: block;}

#formCikkKepForm1 {width:700px;}
#CikkKepekFeltoltForm, #KisKepFelForm {background-color:#fff;padding-left:5px; }
#divCikkKepForm .Kepszerk img {display:block; float:left; max-height:100px; max-width: 100px; margin:4px 5px 4px 1px;}
#divCikkKepForm .Kepszerk     {display:block;  margin:2px;  }
#divCikkKepForm .Kepszerk  p  {display:block; float:left; margin:1px;}
#divCikkKepForm .Kepszerk  p.pKSzelesseg  {clear:left;}


#divCikkKepForm .Kepszerk input[type="number"] {width:65px;}
#divCikkKepForm .Kepszerk input[type="text"] {width:300px;}

#divCikkKepForm .Kepszerk_ p.pKSorszam{display:none;}

.Kepszerk img {display:block; float:left;}
.Kepszerk div {display:block; float:left; width:545px;}
.Kepszerk h3 {display:block; }
.pKTorol {color:#f00;}
.Kepszerk fieldset {padding: 5px; font-size: 0.9em;}

#labelchFormkodCikk {display:block; margin-bottom: 5px; padding:0 5px 10px 5px;}
#labelchFormkodCikk:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelchFormkodCikk:hover:before{content:url('../img/ikonok/modifypushed28.png');}
#chFormkodCikk:checked   ~ #labelchFormkodCikk    {font-weight:bold;}
#chFormkodCikk:checked   ~ #labelchFormkodCikk:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;}

#labelUjCikkForm:before{content:url('../img/ikonok/newpage28.png');position:relative;top:7px;}
#labelUjCikkForm:hover:before{content:url('../img/ikonok/newpagepushed28.png');}

#labelCikkForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelCikkForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelCikkTorolForm:before{content:url('../img/ikonok/delete28.png');position:relative;top:7px;}
#labelCikkTorolForm:hover:before{content:url('../img/ikonok/deletepushed28.png');}

#labelCikkKepForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelCikkKepForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}


/*************************  Kiegészítő tartalom form ******************************/
.pKiegTid {font-weight:bold;}
.divKiegTElem {width:450px; display:block; float:left; padding:5px; margin:5px; }
#submitKiegTartalom {clear:both;float:none;}
.divKiegTElem textarea {width:440px;}

/*************************  Főmenüform ******************************/
.pFoMenuid {font-weight:bold;}
.divFoMenuElem {width:450px; display:block; float:left; padding:5px; margin:5px;}
#submitFoMenu{clear:both;float:none;}
.divFoMenuElem textarea {width:440px;}

/*************************  Felhasználó módosítása form ******************************/
#chFelhasznaloForm, #chFelhasznaloTorolForm {display: none; border: 1px solid #000;}
#chFelhasznaloForm:checked    ~ #labelFelhasznaloForm     {font-weight:bold;}
#chFelhasznaloTorolForm:checked      ~ #labelFelhasznaloTorolForm       {font-weight:bold;}
			
#labelFelhasznaloForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelFelhasznaloForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelFelhasznaloTorolForm:before{content:url('../img/ikonok/delete28.png');position:relative;top:7px;}
#labelFelhasznaloTorolForm:hover:before{content:url('../img/ikonok/deletepushed28.png');}
			
#chFelhasznaloForm:checked      ~ #labelFelhasznaloForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;} 
#chFelhasznaloTorolForm:checked ~ #labelFelhasznaloTorolForm:before{content:url('../img/ikonok/delete2pushed28.png');position:relative;top:7px;}
			
#divFelhasznaloForm, #divFelhasznaloTorol {display: none; border: 1px solid #000;}
			
#chFelhasznaloForm:checked    ~ #divFelhasznaloForm    {display: block;}
#chFelhasznaloTorolForm:checked      ~ #divFelhasznaloTorol      {display: block;}


/*************************  Felhasználó csoport módosítása form ******************************/
#chUjFCsoportForm, #chFCsoportForm, #chFCsoportTorolForm {display: none; border: 1px solid #000;}
#chUjFCsoportForm:checked    ~ #labelUjFCsoportForm     {font-weight:bold;}
#chFCsoportForm:checked    ~ #labelFCsoportForm     {font-weight:bold;}
#chFCsoportTorolForm:checked      ~ #labelFCsoportTorolForm       {font-weight:bold;}


#labelUjFCsoportForm:before{content:url('../img/ikonok/newpage28.png');position:relative;top:7px;}
#labelUjFCsoportForm:hover:before{content:url('../img/ikonok/newpagepushed28.png');}
			
#labelFCsoportForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelFCsoportForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelFCsoportTorolForm:before{content:url('../img/ikonok/delete28.png');position:relative;top:7px;}
#labelFCsoportTorolForm:hover:before{content:url('../img/ikonok/deletepushed28.png');}
	
#chUjFCsoportForm:checked      ~ #labelUjFCsoportForm:before{content:url('../img/ikonok/newpage2pushed28.png');position:relative;top:7px;} 	
#chFCsoportForm:checked      ~ #labelFCsoportForm:before{content:url('../img/ikonok/modify2pushed28.png');position:relative;top:7px;} 
#chFCsoportTorolForm:checked ~ #labelFCsoportTorolForm:before{content:url('../img/ikonok/delete2pushed28.png');position:relative;top:7px;}
			
#divUjFCsoportForm, #divFCsoportForm, #divFCsoportTorol {display: none; border: 1px solid #000;}
			
#chUjFCsoportForm:checked    ~ #divUjFCsoportForm    {display: block;}
#chFCsoportForm:checked    ~ #divFCsoportForm    {display: block;}
#chFCsoportTorolForm:checked      ~ #divFCsoportTorol      {display: block;}

form h2, form p {margin-top: 5px; margin-bottom: 5px;}


#divOTartalom #formUjCikkForm, #divOTartalom #divCikkForm, #divOTartalom #divCikkTorolForm, #divOTartalom #divCikkKepForm, #divOTartalom #divCikkKepForm,
#divOTartalom #formUjOldalForm, #divOTartalom #divOldalForm, #divOTartalom #formOldalTorolForm,
#divOTartalom #divOldalKepForm, #divOTartalom #divOldalModeratorForm, #divOTartalom #divUjFelhasznaloForm, #divOTartalom #divCsoportValaszt2, 
#divOTartalom #divFelhasznaloValaszt, #divOTartalom #divFelhasznaloForm, #divOTartalom #divCsoportValaszt, #divOTartalom #divFCsoportForm,
#divOTartalom #formFCsoportTorol, #divOTartalom #divUjFCsoportForm, #divOTartalom #divModKiegTForm, #divOTartalom #divModFoMenuForm,
#divOTartalom #divModMenuPlForm, #divOTartalom #divAlapbeallitasForm, #divOTartalom #divFelhasznaloTorol, #divUjCikkForm
{background-color:#eee; color:#000; padding:10px;}