/* 
    Author     : Beschenbacher Kornél 
*/

/* Helyi menü*/

html {
font-family: 'Istok Web', sans-serif;
}

#divOTartalom #divFormkod, #divOTartalom #labelUjOldalForm, 
#divOTartalom #labelOldalForm, #divOTartalom #labelOldalTorolForm, 
#divOTartalom #labelOldalKepForm, #divOTartalom #labelOldalModeratorForm, 
#divOTartalom #labelchFormkod,

#divOTartalom #labelUjCikkForm, 
#divOTartalom #labelCikkForm,
#divOTartalom #labelCikkTorolForm,
#divOTartalom #labelCikkKepForm,
#divOTartalom #labelUjCikkForm,
#divOTartalom #labelchFormkodCikk,
#divOTartalom #divFormkodCikk
{color:#222;}


.Ul1 {list-style-type:none; padding-left:5px;padding:4px;}
.Ul2 {list-style-type:none; padding-left:15px;padding:4px} 
.Ul3 {list-style-type:none; padding-left:5px;padding:4px}



.Ul1 a {/*padding: 2px 12px;
	background:#010201 ;
	color:#FF1493 ;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
		*/} 
		
    /* Beállítások*/
    
    body, html {background-color:#000100;}		
    
			#HelyiNav {background-color:#663300; padding:10px;}
			#BelsoKeret {background-color:#000000; }
			
	/*		#Keret{background-image:url('../img/ghb.jpg')}*/
			#FoNav{background-color:#800000; color:#FFFFFF;text-align:center; box-shadow: -5px -5px 15px 0px #800000; box-shadow: 5px 5px 15px 0px #800000; margin-bottom:30px;
border-bottom:2px solid #ffffff; border-top:2px solid #ffffff;}
			#FoHeder {background-color:#000;}
			
			
			#KiegeszitoInfo {background-color:#880000; color:white; width:290px; margin-right:-300px;
			border-radius:15px  15x 30px 15px; float:right;color:#ffffff;
			border-bottom:2px solid #800000;border-left:2px solid #800000;}
			#Tartalom {background-color:#000; color:white;margin-left:5px; margin-bottom:40px; 
border-style:outset 3px black}
			#HelyiNav {background-color:#000000; color:#FFFFFF; }

 * {font-family: 'Istok Web', sans-serif;}
 
  a:link	{color:#CCCCCC;} 
  a:visited 	{color:#FFFFFF;}
  a:hover 	{color:#CCCCCC;}
  a:active 	{color:#CCCCCC;}
  
  footer {background-color:#396666;  color:#810000}
 
  footer {background-color:#000000;border-bottom:2px solid #800000; border-top:2px solid #800000;} 

.divKiegT p {
    margin-left: 6px;
}
     
   .MPontLink {
    padding: 2px 20px;/*background: #fff*/ /*background-image:url('images.jpg');*/
    color:#FFFFFF;text-decoration:none;
    border: solid 2px #000000;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;    
        -o-border-radius: 4px;
           border-radius: 4px;     
  -webkit-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
     -moz-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
      -ms-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
       -o-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;         
          box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;     
   -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
       -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;        
           transition-duration: 0.3s;}
		   
		   
		   .MPontLink :active {
    border: solid 1px #fff;
    text-decoration: none;}
	
  .MPontLink :hover {
   border: solid 1px #000000;
    -webkit-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
       -moz-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
        -ms-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
         -o-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
            box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;}
  
       
 
 .Ul1 a {
 background-color:#800000;
    padding: 2px 100px;/*background: #08f background-image:url('images.jpg');*/
    color:#FFFFFF;text-decoration:none;
    border: solid 2px #000000;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;    
        -o-border-radius: 4px;
           border-radius: 4px;     
  -webkit-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
     -moz-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
      -ms-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;
       -o-box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;         
          box-shadow: inset 0 1px 0 #999999, 0 1px 1px #000000;     
   -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
       -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;        
           transition-duration: 0.3s;}
		   
		   
		   .Ul1 a:active {
		   background-color:#800000;
    border: solid 1px #800000;
    text-decoration: none;}
	
  .Ul1 a:hover {
  background-color:#ffffff;
  color:black;
    border: solid 1px #800000;
    -webkit-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
       -moz-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
        -ms-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
         -o-box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;
            box-shadow: inset 0 -1px 0 #999999, 0 1px 1px #000000;}
			
			
			
			.Ul2 a {
    padding: 1px 30px 1px 30px;background:#800000;
    color:#000000;text-decoration:none;
    border: solid 1px #000000;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;    
        -o-border-radius: 4px;
           border-radius: 4px;     
  -webkit-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
     -moz-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
      -ms-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
       -o-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;         
          box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;     
   -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
       -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;        
           transition-duration: 0.3s;}
		   
		   
		   .Ul2 a:active {
    background:#800000; border: solid 1px #000000;
    text-decoration: none;}
	
  .Ul2 a:hover {
    background:#666666; border: solid 1px #000000;
    -webkit-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
       -moz-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
        -ms-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
         -o-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
            box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;}
			
		   
		   
		   
	  .Ul3 a {
    padding: 1px 30px 1px 30px;background:#CCCCCC;
    color: #000000;text-decoration:none;
    border: solid 1px #000000;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;    
        -o-border-radius: 4px;
           border-radius: 4px;     
  -webkit-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
     -moz-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
      -ms-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;
       -o-box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;         
          box-shadow: inset 0 1px 0 #000000, 0 1px 1px #000000;     
   -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
       -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;        
           transition-duration: 0.3s;}
		   
		   
		   .Ul3 a:active {
    background:#800000; border: solid 1px #000000;
    text-decoration: none;}
	
  .Ul3 a:hover {
    background: #666666; border: solid 1px #000000;
    -webkit-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
       -moz-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
        -ms-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
         -o-box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;
            box-shadow: inset 0 -1px 0 #000000, 0 1px 1px #000000;}	   
  
#Tartalom a {color:#e00000;}
