/* Author     : Tóth-Kovács Gellért */

a#logoLink        {color:#222;}
a#logoLink:hover  {color:#222;}
a#logoLink:active {color:#222;}
a#logoLink:link   {color:#222;}
a#logoLink        {margin-left:10px; font-variant:small-caps;  font-weight:bold;} /* !!! */

/*---------------------- MORZSANAVIGÁCIÓ FORMÁZÁSA ----------------------*/

.Morzsa_ a::after{content: " « ";}  
.Morzsa a        {font-weight:bold; color:#222;}   
.Morzsa a:link   {font-weight:bold; color:#222;}
.Morzsa a:active {font-weight:bold; color:#222;}
.Morzsa a:hover  {font-weight:bold; color:#000;}    

/*-------------------- FŐ SZERKEZET NAGY FELBONTÁSNÁL --------------------*/
	       
#FoHeder{background-color:#E9EAED;}

/*-------------------------- TARTALOM FORMÁZÁSA --------------------------*/

body, html{background-color:#E9EAED; font-family: 'Istok Web', sans-serif;}		 
#Keret{background-color:#E9EAED;}

#BelsoKeret{background-color:#E9EAED; width:100%; padding:0 300px;}  

#KiegeszitoInfo{background-color:#E9EAED; width:300px; margin-right:-300px; float:right;}

#Tartalom
{background-color:#E9EAED;
    border-right:2px solid #4262A9;
    border-left:2px solid #4262A9; 
    border-bottom:2px solid #4262A9;
    border-radius: 0px 0px 5px 5px;}

#divOTartalom h1{margin-top:10px;margin-bottom:10px;}
      
footer {background-color:#5C77B5; line-height:15px; font-weight:bold; padding-top:0;
    border-top: 3px solid #4262A9; border-bottom: 3px solid #4262A9;}

/*--------------------- KIEGÉSZÍTŐ TARTALOM FORMÁZÁSA ---------------------*/      

#KiegeszitoInfo{margin-top:0; padding-top:0;}

.divKiegTKulso{
    padding-left:0px; /* !!! */
    margin-top:10px;
    margin-right:0px; /* !!! */
    margin-left:0px; /* !!! */
    margin-bottom:10px;
    
    background-color:#5C77B5;
    
    border:1px solid #4262A9;
    border-radius: 5px 5px 5px 5px;

   /* box-shadow:5px 5px 5px -3px #000; */
}
.divKiegTKulso h2{
    margin-left:5px;
    margin-top:10px;
    
    font-style:normal;
    font-size:20px;
    
    color:#222;
    font-family: "Istok Web",sans-serif;
}

.divKiegT{margin:5px 5px 5px -1px; color:#222; font-size:15px;} /* !!! */

/*-------------------------- MENÜSOR FORMÁZÁSA --------------------------*/

#FoNav {
    background-color:#5C77B5; width:100%; line-height:30px;
    border-top: 3px solid #4262A9;
    border-bottom: 3px solid #4262A9;
    font-family: 'Istok Web', sans-serif; font-weight:bold; font-variant:small-caps; color:black;
}
#FoNav a {color:#fff; margin: 0 8px;}   /*!!!*/
#FoNavBal {float:left; width:100px;}
#FoNavJobb {width:100%;margin:0 100px; text-align:center; padding-right:10%;}
#FoNav label  {color:#fff; } /*!!!*/
.MPontLink{display:inline-block; color:#000;}
       
/*-------------------------- HELYI MENÜ FORMÁZÁSA --------------------------*/
   
.divMenuInfo1, #divFelhasznaloUdv{font-weight:bold}

#HelyiNav{background-color:#E9EAED; padding-right:5px; margin-bottom:40px;}
#HelyiNav ul {list-style-type: none; padding-left:0px;}  
#HelyiNav .AktLink {font-weight:bold;}

/*---- Első szint ----*/

#HelyiNav  li a::before{content: " » ";}
#HelyiNav li a { display: inline-block; background-color:#5C77B5; padding:8px 5px 0px 5px; color:#fff;
	width:100%; height: 40px; border-radius: 5px  5px 5px 5px; border:1px solid #000; } 

#HelyiNav  li a:link,  #HelyiNav  li a:visited {color:#FFF; text-decoration:none; }
#HelyiNav  li a:hover  {color:black; text-decoration:none; margin-left:5px; color:#ddd;} 
#HelyiNav  li a:active {color:black; border-bottom:2px; border-top:2px; padding-top:7px; color:#fff;}
  


/*---- Második szint ----*/

#HelyiNav li li a {background-color:#8b9dc3; padding-left:8px;} 
#HelyiNav li li a:link,  #HelyiNav  li a:visited {color:#fff;}
 


/*---- Harmadik szint ----*/

#HelyiNav li li li a {background-color:#CAD0E2; margin-left:5px; padding-left:8px;
width: -moz-calc(100% - 5px);
width: -webkit-calc(100% - 5px);
width: calc(100% - 5px);} 

#HelyiNav li li li a:hover  {color:black; text-decoration:none; margin-left:10px;} 
#HelyiNav li li li a:link,  #HelyiNav  li a:visited {color:#fff;}



/*---- Negyedik szint ----*/

#HelyiNav li li li li a {background-color:#dfe3ee; margin-left:10px; padding-left:8px;
width: -moz-calc(100% - 10px);
width: -webkit-calc(100% - 10px);
width: calc(100% - 10px);}

#HelyiNav li li li li a:link,  #HelyiNav  li li li li a:visited {color:#fff;}
#HelyiNav li li li li a:hover  {color:black; text-decoration:none; margin-left:15px;} 

/*-------------------------- HELYI MENÜ ELREJTÉSE --------------------------*/

#chmenu:checked ~ #BelsoKeret #HelyiNav {display: none;}
#chmenu:checked ~ #BelsoKeret {padding-left:0;}
       
#Tartalom section img {margin:10px;}
#Tartalom article  {margin:6px;}
       

#OTartalom{width:95%;}
#OLeiras{width:95%;}

#divFormkod{margin-left:1px;}


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*-------------------------- ADMIN PANELEK FORMÁZÁSA --------------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/

.FontosStr{margin-top:10px; margin-bottom:10px;}

#divOModeratorCsoportValaszt, #divOModeratorValasztForm, #KepekFeltoltForm, #KisKepFelForm, 
#CikkKepTolForm, #formCsoportValaszt, #formCsoportValaszt2, #formFelhasznaloValaszt 
{width: 100%;}

/* ---------------- GYŰJTŐDIV FORMÁZÁSA ---------------- */
#divOTartalom h2{margin-top:10px; margin-bottom:10px;}

#divFormkod, #divFormkodCikk, #divFormkodFCsoport, #divFormkodFelhasznalo{  
    background-color:#E9EAED;
    border:2px solid #4262A9;
    border-radius: 5px 5px 5px 5px;
}

#divFormkodFCsoport h2 {margin-top:10px; margin-bottom:0px;}
#divFormkodFCsoport p {margin-top:10px; margin-bottom:10px;}
#divFormkodFCsoport label {padding:2px;}


#divFormkodFelhasznalo label {padding:2px;}
#divFormkodCikk label        {padding:2px;}
#divFormkod label            {padding:2px;}

.pCikkTorol{margin-top:0px; margin-bottom:5px;}

/* ---------------- ŰRLAPOK MEGJELENÉSE ---------------- */

#divFCsoportForm, #divFCsoportTorol, #divUjFCsoportForm, 
#divFelhasznaloForm, #divFelhasznaloTorol{padding:10px;}

#divOldalForm, #divUjOldalForm, #divOldalTorolForm, #divOldalKepForm, #divOldalModeratorForm, 
#divUjCikkForm, #divCikkForm, #divCikkKepForm, #divCikkValaszt, #divCikkTorolForm, 
#divFCsoportForm, #divFCsoportTorol, #divUjFCsoportForm, #divFelhasznaloForm, #divFelhasznaloTorol
{background-color:#E9EAED; margin-top:0; padding-top:0; border:0px;}

.divKiegTElem, .divFoMenuElem, .divMenuPlElem{
    width:710px;
    border:2px solid #4262A9;
    border-radius: 5px 5px 5px 5px;
}

.divMenuPlElem{padding-left:5px; margin-bottom:5px;}
.pMenuPlid {font-weight:bold;}

.divCikkKulso {
    border: 1px solid black;
    background-color:white;
    width:700px;
}

#divOElozetesekKulso a,
#divOTartalom .Ul1a a {color:royalblue;}


input{background-color:#CAD0E2;}
textarea{background-color:#CAD0E2;}

button{background-color:#CAD0E2;}


/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*---------------------- FELBONTÁSHOZ KÖTÖTT FORMÁZÁSOK -----------------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/


@media screen and (max-width:1340px) 
{
    .divCikkKulso {
        width:500px;
    }
}

#divOTartalom #divFormkod, #divOTartalom #labelUjOldalForm, 
#divOTartalom #labelOldalForm, #divOTartalom #labelOldalTorolForm, 
#divOTartalom #labelOldalKepForm, #divOTartalom #labelOldalModeratorForm, 
#divOTartalom #labelchFormkod,

#divOTartalom #labelUjCikkForm, 
#divOTartalom #labelCikkForm,
#divOTartalom #labelCikkTorolForm,
#divOTartalom #labelCikkKepForm,
#divOTartalom #labelUjCikkForm,
#divOTartalom #labelchFormkodCikk,
#divOTartalom #divFormkodCikk
{background-color:#5C77B5;}