/* 
    Author     : Szabó Máté
*/


body, html {background-color:#2F4F4F;}		 

       
#FoHeder {background-color:#396666; }
#FoNav {background-color:#000000; color:#00ff99;text-align:center; box-shadow: -5px -5px 15px 0px #00FF99; box-shadow: 5px 5px 15px 0px #00FF99; margin-bottom:17px;
border-bottom:2px solid #00FF99; border-top:2px solid #00FF99;}
#FoNav a{color:#00ff99;}
     

#BelsoKeret {background-color:#2F4F4F; }       
#Tartalom {background-color:#2F4F4F; margin-left:5px; margin-bottom:40px;}
#HelyiNav {background-color:#2F4F4F; padding:4px;margin-bottom:14px;}
 #KiegeszitoInfo {text-align:center; background-color:#2F4F4F; margin-top:20px;
 color:#000000;
 
 background-color:#111;color:#eee;}       
       
footer {background-color:#396666;  color:#00FF99}


       
       
/* ---------------------------- Menüsor ----------------------------*/

#FoNav #MenuIkon1 {display: none;}
#FoNav #MenuIkon2 {display: block;}       
#chmenu:checked ~ #FoNav #MenuIkon1 {display: block;}
#chmenu:checked ~ #FoNav #MenuIkon2 {display: none;}
       
#FoNavBal {float:left; width:100px;}
#FoNavJobb {width:100%;margin:0 100px; text-align:center;}


/*----------------------------DIV Módosítások (kerekítés, elválasztás, hoverek)----------------------------*/

#FoNavBal:hover{background-color:#2B2626;box-shadow: -5px -5px 15px 0px #00FF99;}       
       
       
.MPontLink {display: inline-block;color:#00FF99;background-color:#000000;border-radius:15px  15x 30px 15px;margin-left:5px;}
.MPontLink:active{border-radius:40px 40x 40px 40px; border-bottom:2px solid #3F3E3E; box-shadow: -5px -5px 15px 0px #00FF99; border-top:2px solid #3F3E3E;border-right:2px solid #3F3E3E; border-left:2px solid #3F3E3E;}
.MPontLink:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;box-shadow: -5px -5px 15px 0px #00FF99;}
.MPontlink a:hover{color:red;}
footer {background-color:#000000;border-bottom:2px solid #00FF99; border-top:2px solid #00FF99;}     

#FoHeder{  background-image: -webkit-linear-gradient(top,  #396666 95%, #00FF99);
  background-image: -moz-linear-gradient(top, #396666 95%, #00FF99);
  background-image: -ms-linear-gradient(top, #396666 95%, #00FF99);
  background-image: -o-linear-gradient(top, #396666 95%, #00FF99);
  background-image: linear-gradient(to bottom, #396666 95%, #00FF99);}      

#divFelhasznaloUdv{color:#00FF99;}


/*---------------------------- Helyi menü ----------------------------*/

#HelyiNav {margin-bottom:40px; background-color:#2F4F4F;}
#HelyiNav ul {list-style-type: none;padding-left:0px;}


#HelyiNav .AktLink {font-weight:bold;}
#HelyiNav  li a:before{content: " » ";}

#HelyiNav li a { display: inline-block; background-color:#000; padding:8px 5px 0px 5px; font-family:  Verdana, Geneva, sans-serif;
	width:100%; height: 40px; border-radius: 5px  5px 5px 5px; border-bottom:1px solid #00FF99; border-top:1px solid #00FF99;border-right:1px solid #00FF99;} 
#HelyiNav  li a:link,  #HelyiNav  li a:visited {color:#00ff99; font:Comic Sans MS;
 text-decoration:none; box-shadow: 5px 5px 5px 0px #00FF99;}






/*---------------------------- !!Helyi Menü módosítások!! ----------------------------*/

/*----------------------- A link állapotainak megkülönböztetése  -----------------------*/

#HelyiNav  li a:hover  {color:#00ff99; text-decoration:none; box-shadow: -5px -5px 15px 0px #00FF99;}

#HelyiNav  li a:active {color:#00ff99; border-bottom:2px; border-top:2px; padding-top:7px; }
#HelyiNav  li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}
  
  
  
  
/*---------------------------- Második szint ----------------------------*/

#HelyiNav  li a:hover  {color:#00ff99; text-decoration:none; box-shadow: -5px -5px 15px 0px #00FF99;} 
#HelyiNav  li a:active {color:#00ff99; border-bottom:2px; border-top:2px; padding-top:7px; }
#HelyiNav  li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}
 
 
 
/*---------------------------- Harmadik szint ----------------------------*/

#HelyiNav  li a:hover  {color:#00ff99; text-decoration:none; box-shadow: -5px -5px 15px 0px #00FF99;} 
#HelyiNav  li a:active {color:#00ff99; border-bottom:2px; border-top:2px; padding-top:7px; }
#HelyiNav  li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}



/*---------------------------- Negyedik szint ----------------------------*/

#HelyiNav  li a:hover  {color:#00ff99; text-decoration:none; box-shadow: -5px -5px 15px 0px #00FF99;} 
#HelyiNav  li a:active {color:#00ff99; border-bottom:2px; border-top:2px; padding-top:7px; }
#HelyiNav  li a:hover{background-color:#2B2626;border-radius:40px 40x 40px 40px;}
  
   
   
       
/*---------------------------- Menü ki-be ----------------------------*/

       
#Tartalom section img {margin:10px;}
#Tartalom article  {margin:6px;}



/*----------------------------Gombok----------------------------*/

input   {background-color:#000;color:#00FF99;border-color:#00FF99;}
select  {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}











/*---------------------------- Adminpanel -----------------------*/

#divFormkod{margin-left:1px;}
   
#divUjOldalForm{background-color:#2F4F4F; padding:7px; border:none;}
#divOldalForm{background-color:#2F4F4F; padding:7px;}
#divOldalTorolForm{background-color:#2F4F4F; padding:7px;}
#divOldalKepForm{background-color:#2F4F4F; padding:7px;}

#chFormkod {display:none;}

#chUjOldalForm{display:none;}
#chOldalForm{display:none;}
#chOldalTorolForm{display:none;}
#chOldalKepForm{display:none;}

#labelUjOldalForm{display:inline-block;  margin-bottom: -1px; padding:3px;
 color:#000000; border-radius: 3px  7px 0px 0px;}
 
#labelOldalForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000000; border-radius: 3px  7px 0px 0px;}
 
#labelOldalTorolForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000000;  border-radius: 3px  7px 0px 0px;}
 
#labelOldalKepForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000000;  border-radius: 3px  7px 0px 0px;}
 
#labelOldalModeratorForm{display:inline-block; margin-bottom: -1px;padding:3px;
 color:#000000;  border-radius: 3px  7px 0px 0px;}
 
 
 
 
 
 /*---------------------------- Oldal módosítása (style) ----------------------------*/
 
#OTartalom{width:95%; background-color:#2F4F4F; border-color:#000000; color:#00FF99;}
#OLeiras{width:95%; background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#UjONev{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration:italic;}
#OPrioritas{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#OLathatosag{background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#OKulcsszavak {background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}
#ONev {background-color:#2F4F4F; border-color:#000000; color:#00FF99; text-decoration: bold;}







/*---------------------------- Kép módosítások ----------------------------*/

#KSorszam_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#KSorszam_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KNev_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KLeiras_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KSzelesseg_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KMagassag_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#KStilus_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}





/*---------------------------- Alapbeállítások módosítása (style) ----------------------------*/


#WNev{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#Iskola{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#Cim{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#Telefon{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#Stilus{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#submitAlapbeallitasok{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}





/*---------------------------- Kiegészítő tartalom módosítása  (style) ----------------------------*/


#ModKTTartalom_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModKTTartalom_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTNev_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModKTPrioritas_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}





/*---------------------------- Regisztráció   (style) ----------------------------*/

#FNev      {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FFNev     {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FJelszo   {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FJelszo2  {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FEmail    {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FEmail2   {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FSzint    {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FSzerep   {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FCsoport  {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}





/*---------------------------- Elfelejtett jelszó  (style) ----------------------------*/

#FRJelszo   {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FUJelszo   {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#FUJelszo2  {background-color:#2F4F4F; border-color:#000000;color:#00FF99;}





/*---------------------------- Főmenü módosítása  (style) ----------------------------*/

#ModFoMenuNev_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModFoMenuNev_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuTartalom_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModFoMenuPrioritas_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}




/*---------------------------- Menü plussz módosítás  (style) ----------------------------*/

#ModMenuPlNev_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_0{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_1{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_2{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_3{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_4{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_5{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_6{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_7{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_8{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}

#ModMenuPlNev_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlTartalom_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#ModMenuPlPrioritas_9{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}


/*---------------------------- Csoport módosítás (Moderátorok)  (style) ----------------------------*/

#CsNev{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#CsLeiras{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}


/*---------------------------- Form változtatások ----------------------------*/
#divOldalModeratorForm {background-color:#2F4F4F;}
#divOModeratorValasztForm{float:left;}
#divOModeratorCsoportForm{padding-left:300px; padding-top:-100px;}
#divCikkTorolForm{background-color:#2F4F4F; border-color:#000000;}
#divCikkKepForm{background-color:#2F4F4F; border-color:#000000;}


#file_CikkKepekFeltoltForm{background-color:#2F4F4F; border:2px solid; border-color:#000000;color:#00FF99;}
#file_KepekFeltoltForm{background-color:#2F4F4F; border:2px solid; border-color:#000000;color:#00FF99;}
#fileKepTolt {background-color:#2F4F4F; border:2px solid; border-color:#000000;color:#00FF99;}
#file_KepekFeltoltForm{background-color:#2F4F4F; border:2px solid; border-color:#000000;color:#00FF99;}




/*---------------------------- Projekt részvevők ----------------------------*/

/*----------------------- Új cikk (style) ------------------------*/

#divUjCikkForm{background-color:#2F4F4F; border-color:#000000;}
#UjCNev{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#UjCLeiras{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#UjCTartalom{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#CLathatosag{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}
#CPrioritas{background-color:#2F4F4F; border-color:#000000;color:#00FF99;}


/*---------------------------- Cikk módosítás ----------------------------*/

#divCikkValaszt{background-color:#2F4F4F; border-color:#000000;}




.divOElozetesTartalom a {color: #00ff99;}
#HelyiNav {color: #fff;}


/*---------------------------- END GAME ----------------------------*/
