
/* Oldalak  szerkesztése*/
#divFormkod {display: none;}
#chFormkod:checked    ~ #divFormkod    {display: block;}

#divUjOldalForm, #divOldalForm, #divOldalTorolForm, #divOldalKepForm {display: none; border: 1px solid #000;}

#chUjOldalForm:checked    ~ #labelUjOldalForm     {font-weight:bold;}
#chOldalForm:checked      ~ #labelOldalForm       {font-weight:bold;}
#chOldalTorolForm:checked ~ #labelOldalTorolForm  {font-weight:bold;}
#chOldalKepForm:checked   ~ #labelOldalKepForm    {font-weight:bold;}

#chUjOldalForm:checked    ~ #divUjOldalForm    {display: block;}
#chOldalForm:checked      ~ #divOldalForm      {display: block;}
#chOldalTorolForm:checked ~ #divOldalTorolForm {display: block;}
#chOldalKepForm:checked   ~ #divOldalKepForm   {display: block;}


#divOldalKepForm .Kepszerk img {display:block; float:left; height:100px; margin:5px;}
#divOldalKepForm .Kepszerk     {display:block; clear:left;  margin:5px;}
#divOldalKepForm .Kepszerk  p  {display:block; float:left; margin:5px;}
#divOldalKepForm .Kepszerk  p.pKSzelesseg  {clear:left;}


#divOldalKepForm .Kepszerk input[type="number"] {width:45px;}

.pKTorol {color:#f00;}


#labelchFormkod {display:block; margin-bottom: 5px;}
#labelchFormkod:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelchFormkod:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelUjOldalForm:before{content:url('../img/ikonok/newpage28.png');position:relative;top:7px;}
#labelUjOldalForm:hover:before{content:url('../img/ikonok/newpagepushed28.png');}

#labelOldalForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelOldalForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}

#labelOldalTorolForm:before{content:url('../img/ikonok/delete28.png');position:relative;top:7px;}
#labelOldalTorolForm:hover:before{content:url('../img/ikonok/deletepushed28.png');}

#labelOldalKepForm:before{content:url('../img/ikonok/modify28.png');position:relative;top:7px;}
#labelOldalKepForm:hover:before{content:url('../img/ikonok/modifypushed28.png');}