/* 
    Author     : Gál Tamás, Guti Patrik
*/

/* Általános beállítások*/
a {text-decoration:none;}
.Error {border: 1px solid #d00; }
.AktLink {font-weight:bold;}

/***************************************** Szerkezet kialakítása ********************************************/
* { box-sizing: border-box;}		 
body, html {margin:0; padding:0; width:100%; background-color:#999999; overflow-x: hidden;}
	 
#Keret {width:100%; min-height:100%;}       
#FoHeder {background-color:#CC9966; width:100%; width:100%; height:100px;}
#FoNav {width:100%; line-height:30px;}       

#BelsoKeret {background-color:#CC9966; width:100%; padding:0 300px; min-height: 100%;}       
#Tartalom {background-color:#CC9966; width:100%; min-height:100%; float:left; margin-right:-100%;margin-bottom:40px; padding:10px;}
#HelyiNav {background-color:#888; width:300px; float:left; margin: 0 0 0 -300px; }
#KiegeszitoInfo {background-color:#08f; width:300px; margin-right:-300px; float:right;}       
footer {background-color:#999999; width:100%;clear:left; border-bottom:1px solid #999999;}

/********************************************* Fejléc *******************************************************/
#logoImgLink img {width:90px;margin:2px 5px;}
#logoLink {line-height:40px; font-size:1.9em; vertical-align:sub;}
#logoLink span {vertical-align:sub;}
#logoLink span:last-of-type {vertical-align:super;}
a#logoLink        {color:#fff;}
a#logoLink:hover  {color:#fff;}
a#logoLink:active {color:#fff;}
a#logoLink:link   {color:#fff;}
       
/********************************************* Menüsor *******************************************************/
#FoNav #MenuIkon1 {display: none;}
#FoNav #MenuIkon2 {display: block;}       
#chmenu:checked ~ #FoNav #MenuIkon1 {display: block;}
#chmenu:checked ~ #FoNav #MenuIkon2 {display: none;}
       
#FoNavBal {float:left; width:100px;}
#FoNavJobb {width:100%;margin:0 100px; text-align:center;}
    
   
/***************************************** Helyi menü ********************************************/

#HelyiNav {margin-bottom:40px; }

#HelyiNav ul {
    list-style-type: none;
    padding-left:0px;
    margin:5px 0;
}
#HelyiNav .Ul1 {margin:0 0 0 5px;}
#HelyiNav .Ul2 {margin:0; padding:0 0 0 5px;}
#HelyiNav .Ul3 {margin:0;}
#HelyiNav .Ul4 {margin:0;}

#HelyiNav .AktLink {font-weight:bold;}
#HelyiNav  li a::before{content: " » ";}

#HelyiNav li a { display: inline-block; padding:8px 5px 0px 5px; width:100%; height: 40px; } 
#HelyiNav a:link,  #HelyiNav  a:visited {text-decoration:none; }

/* A link állapotainak megkülönböztetése  */
#HelyiNav  li a:hover  { text-decoration:none;} 
#HelyiNav  li a:active {border-bottom:2px; border-top:2px; padding-top:7px; }
   
/*---- Második szint --*/
#HelyiNav li li a {padding-left:15px;} 
 
/*---- Harmadik szint --*/
#HelyiNav li li li a { padding-left:25px;} 

/*---- Negyedik szint --*/
#HelyiNav li li li li a {padding-left:35px;} 
 
       
/* Menü ki-be*/
#chmenu:checked ~ #BelsoKeret #HelyiNav {display: none;}
#chmenu:checked ~ #BelsoKeret {padding-left:0;}

#divFelhasznaloUdv {margin:10px 0 0 10px;;}
       
#Tartalom section img {margin:10px;}
#Tartalom article  {margin:6px;}

/************************************** Morzsa navigáció ********************************************/
     
.Morzsa a::before{content: " « ";}  
.Morzsa a        {color:#fff;}   
.Morzsa a:link   {color:#fff;}
.Morzsa a:active {color:#fff;}
.Morzsa a:hover  {color:#ddd;}     

/***************************************** Lábléc menü ********************************************/
#FoFooter {
    text-align: center;
}

#FoFooter ul {
    list-style-type: none;
    padding-left:0px;
}

#FoFooter li {
    display: inline-block;
    padding-left:10px;
}
